<div>
    <ul class="tabMenu">
        <li class="tabLi active"><span class="dashboard">tab 1</span></li>
        <li class="tabLi"><span class="options">tab 2</span></li>
    </ul>
    
    <div class="tabs">
        <div class="tabContent dashboard active">
            <h3>Inicio</h3>
            <p>Arcu, voluptatem mollis veritatis doloribus, massa inventore wisi minus, dictum ut dignissimos,
                necessitatibus. Ab consequuntur laboriosam eligendi! Etiam, perferendis mattis! Eos diam. Hic?
                Facilisis excepturi netus accusantium auctor volutpat eaque, accusantium saepe cursus porro totam
                nec! Hendrerit adipisci cum quisquam. Mus vero officia sed egestas molestias! Curae necessitatibus?
                Taciti molestias.</p>
        </div>
        <div class="tabContent options">
            <h3>Opciones</h3>
            <p>Anim dignissim laboriosam semper metus? Euismod molestie elit dis? Augue vehicula penatibus dui
                possimus itaque aut mattis eveniet morbi risus mus, dignissimos eget scelerisque risus, accusantium
                aute impedit, do dui, nullam consectetur massa nostra, fringilla, dis, reiciendis facilis rhoncus
                voluptatum mauris dolorum purus cupiditate, voluptates elementum hac! Hic temporibus viverra.

            </p>
        </div>
    </div>
</div>
